import(orloca, stats, Rcmdr)
importFrom(tcltk, tkfont.create, ttkprogressbar, tkwidget, setTkProgressBar)

export(activeDataSetLocaP,
       Rcmdr.contour.distsum,
       Rcmdr.distsum, Rcmdr.distsummin,
       Rcmdr.help.orloca, Rcmdr.help.RcmdrPlugin.orloca, Rcmdr.help.RcmdrPlugin.orloca.vignettes,
       Rcmdr.new.loca.p,
       Rcmdr.orloca.norm,
       Rcmdr.persp.distsum, Rcmdr.plot.contour.loca.p, Rcmdr.plot.loca.p,
       Rcmdr.rloca.p,
       Rcmdr.summary.loca.p)






 
